@model PL.Models.ChangeEmailViewModel

@{
    ViewData["Title"] = "Змінити електронну пошту";
}

@section Styles {
    <link rel="stylesheet" href="~/css/changestyle.css" />
}

<br>
<h2>Змінити електронну пошту</h2>
<form method="POST">
    <label for="NewEmail"><b>Нова електронна пошта:</b></label><br>
    <input type="text" placeholder="E-mail" name="NewEmail" required><br><br>
    <div class="warning"><p>@Html.ValidationMessage("EmailIsTakenError")</p></div>
    <label for="Password"><b>Підтвердіть пароль:</b></label><br>
    <input type="password" placeholder="Password" name="Password" required><br><br>
    <div class="warning"><p>@Html.ValidationMessage("PasswordError")</p></div>
    <button type="submit"> Змінити</button>
</form>
<br />
<a class="btn red" asp-area="" asp-controller="Cabinet" asp-action="Index">
    Скасувати
</a>
<br />