@model PL.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Змінити пароль";
}

@section Styles {
    <link rel="stylesheet" href="~/css/changestyle.css" />
}

<br>
<h2>Змінити пароль</h2>
<form method="POST">
    <label for="password"><b>Підтвердіть пароль:</b></label><br>
    <input type="password" placeholder="Password" name="Password" required><br><br>
    <div class="warning"><p>@Html.ValidationMessage("PasswordError")</p></div>
    <label for="newPassword"><b>Введіть новий пароль:</b></label><br>
    <input type="password" placeholder="New password" name="NewPassword" id="NewPassword" required><br><br>
    <div class="warning" id="new-pswd-warn"><p>@Html.ValidationMessage("NewPasswordError")</p></div>
    <label for="NewPasswordConfirm"><b>Введіть новий пароль ще раз пароль:</b></label><br>
    <input type="password" placeholder="New password once more" name="NewPasswordConfirm" id="NewPasswordConfirm" required><br><br>
    <div class="warning" id="confirm-new-pswd-warn"><p>@Html.ValidationMessage("NewPasswordConfirmError")</p></div>
    <button type="submit"> Змінити</button>
</form>
<br />
<a class="btn red" asp-area="" asp-controller="Cabinet" asp-action="Index">
    Скасувати
</a>
<br />