@model PL.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Змінити пароль";
}

@section Styles {
    <link rel="stylesheet" href="~/css/changestyle.css" />
}

@section Scripts {
    <script src="~/js/validatePassword.js"></script>
}

<br>
<h2>Змінити пароль</h2>
<form method="POST" id="change-pswd">
    <label for="password"><b>Підтвердіть пароль:</b></label><br>
    <input type="password" placeholder="Password" name="Password" required><br><br>
    <div class="warning"><p>@Html.ValidationMessage("PasswordError")</p></div>
    <label for="newPassword"><b>Введіть новий пароль:</b></label><br>
    <input type="password" placeholder="New password" name="NewPassword" id="NewPassword" required><br><br>
    <p class="validate-password" id="general-validate">Пароль повинен містити хоча б:</p>
    <ul>
        <li class="validate-password" id="8chars">8 символів</li>
        <li class="validate-password" id="1number">1 цифру</li>
        <li class="validate-password" id="1upper">1 велику літеру</li>
        <li class="validate-password" id="1lower">1 малу літеру</li>
    </ul>
    <div class="warning" id="new-pswd-warn"><p>@Html.ValidationMessage("NewPasswordError")</p></div>
    <label for="NewPasswordConfirm"><b>Введіть новий пароль ще раз пароль:</b></label><br>
    <input type="password" placeholder="New password once more" name="NewPasswordConfirm" id="NewPasswordConfirm" required><br><br>
    <div class="warning" id="confirm-new-pswd-warn"><p>@Html.ValidationMessage("NewPasswordConfirmError")</p></div>
    <button type="submit"> Змінити</button>
</form>
<br />
<a class="btn red" asp-area="" asp-controller="Cabinet" asp-action="Index">
    Скасувати
</a>
<br />