@model PL.Models.LoginViewModel

@{
    ViewData["Title"] = "Вхід";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<br>
<h2>Вхід</h2>
<form method="POST" asp-controller="Account" asp-action="Login">
    <label for="email"><b>Електронна пошта:</b></label><br>
    <input type="text" placeholder="E-mail" name="email" required><br><br>

    <label for="password"><b>Пароль:</b></label><br>
    <input type="password" placeholder="Password" name="password" required><br><br>

    <button type="submit"> Увійти</button>
</form>
<p>
    * Увага! Якщо Ви - студент і Вас не зареєстровано, напишіть, будь ласка, своїй старості щодо цього.<br>
    Якщо ж Ви - староста й бажаєте зареєструвати свою групу, зв'яжіться з адміністрацією за <a href="index.html">посиланням у розділі "Про нас"</a>
</p>