@{
    ViewData["Title"] = "Вихід";
}

@section Styles {
    <link rel="stylesheet" href="~/css/logout.css" />
}

<h2>Вихід</h2>
<br /><p>Ви впевнені, що хочете вийти?</p>
<br />
<form method="POST" asp-controller="Account" asp-action="LogoutConfirmed">
    <button class="btn red" type="submit">Так, вийти</button>
</form>
<a class="btn" asp-area="" asp-controller="Cabinet" asp-action="Index">
    Ні, повернутися до кабінету
</a>
<br />