@{
    ViewData["Title"] = "Про нас";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" />
}

<h2>Про нас</h2>
<p>
    <br />
    Це сайт проекту платформи розумного голосування "KPI VOTE", що був створений для предмету "Розумні міста". <br />
    З його допомогою ви можете проводити різноманітні голосування на різних рівнях(групи, факультету тощо). <br />
    Кожен студент має свій профіль, у якому він може бачити голосування та приймати у них участь. <br /> <br />
    Команда розробників: <br />
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-0lax"></th>
                <th class="tg-0lax">E-mail</th>
                <th class="tg-0lax">Telegram</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0lax">Черніков Нікіта</td>
                <td class="tg-0lax"><a href="mailto:chernikov.nikita@lll.kpi.ua">chernikov.nikita@lll.kpi.ua</a></td>
                <td class="tg-0lax"><a href="https://t.me/NChernikov">NChernikov</a></td>
            </tr>
            <tr>
                <td class="tg-0lax">Зозулюк Віктор</td>
                <td class="tg-0lax"><a href="mailto:zozulyuk22@gmail.com">zozulyuk22@gmail.com</a></td>
                <td class="tg-0lax"><a href="https://t.me/zozuliuk22">zozuliuk22</a></td>
            </tr>
            <tr>
                <td class="tg-0lax">Винник Віталій</td>
                <td class="tg-0lax"><a href="mailto:vitalik.vinnik.05@gmail.com">vitalik.vinnik.05@gmail.com</a></td>
                <td class="tg-0lax"><a href="https://t.me/vynnykv">vynnykv</a></td>
            </tr>
            <tr>
                <td class="tg-0lax">Семенюк Даніїл</td>
                <td class="tg-0lax"><a href="mailto:sebtec1212@gmail.coma">sebtec1212@gmail.com</a></td>
                <td class="tg-0lax"><a href="https://t.me/sebtec">sebtec</a></td>
            </tr>
            <tr>
                <td class="tg-0lax">Станков Артем</td>
                <td class="tg-0lax"><a href="mailto:sirstankov0@gmail.com">sirstankov0@gmail.com</a></td>
                <td class="tg-0lax"><a href="https://t.me/Globart1337">Globart1337</a> </td>
            </tr>
        </tbody>
    </table> <br /> <br />
    Проект складається з кількох рівнів: <br /> <br />
    <ul>
        <li>BLL(Business Logic Level) - рівень бізнес логіки, в якому знаходяться інтерфейси, моделі та сервіси</li> <br />
        <li>DAL(Data Access Layer) - рівень доступу до даних, в якому знаходяться сутності</li> <br />
        <li>PL(Presentation Level) - рівень представлення, в якому знаходяться контролери та дані сайту, з яким і взаємодіє користувач</li>
    </ul>
    <br /> <br />
</p>