@{
    ViewData["Title"] = "Про нас";
}

<h2>Про нас</h2>
<p>
    <pre>
    Це проект сайту розумного голосування для предмету "Розумні міста"<br /> <br />
    Команда розробки: <br />
    Нікіта Черніков  -   e-mail: chernikov.nikita@lll.kpi.ua     Telegram:<a href="https://t.me/NChernikov">NChernikov</a> <br />
    Віктор Зозулюк   -   e-mail: zozulyuk22@gmail.com            Telegram:<a href="https://t.me/zozuliuk22">zozuliuk22</a> <br />
    Віталій Винник   -   e-mail: vitalik.vinnik.05@gmail.com     Telegram:<a href="https://t.me/vynnykv">vynnykv</a> <br />
    Семенюк Даніїл   -   e-mail: sebtec1212@gmail.com            Telegram:<a href="https://t.me/sebtec">sebtec</a> <br />
    Станков Артем    -   e-mail: sirstankov0@gmail.com           Telegram:<a href="https://t.me/Globart1337">Globart1337</a> 
    </pre>
</p>