@{
    ViewData["Title"] = "Про проект";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AboutProject.css" />
}
<h2>KPI VOTE</h2>
<h3>Сторінка інтернет-голосування кпішників</h3>
<p class="text">
    Цей сайт створений для того, щоб кожен бажаючий студент
    КПІ міг створювати голосування на різні теми, вибирати старосту групи, потоку, голову студради тощо.
    Також будь-який студент може проголосувати у вже існуючих голосуваннях.
    Для участі в голосуваннях вам потрібен акаунт, який реєструє староста групи. Якщо у вас його ще немає, зверніться до старости.
    Щоб взяти участь у голосуванні, перейдіть у відповідну вкладку, там ви побачите актуальні голосування, а також в іншій вкладці усі створені голосування.<br><br>
    <img style="width: 55%; display: block; margin: 0 auto;" src="~/AboutProject.png" alt="KPI's coat of arms" />
    Також, ви можете переглянути окремі голосування якихось груп або потоків, а також взяти в них участь.<br><br>
    Якщо вам знадобиться змінити пароль чи пошту, ви можете це зробити у своєму профілі, також там знаходиться ваша особиста інформація, така як ПІБ, пошта, тег телеграму тощо.
</p>
