@{
    ViewData["Title"] = "Не знайдено";
}

@section Styles {
    <style>
        .error {
            text-align: center;
            font-weight: 500;
            font-size: 16pt;
            margin-top: 5%;
            padding-bottom: 5%;
        }
    </style>
}

<p class="error">На жаль, такої сторінки не існує</p>