:root {
    --border-style: solid 2px rgb(50, 50, 238);
}

.appeal_item {
    border: var(--border-style);
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    word-wrap: anywhere;
    margin-top: 10px;
}

.person, .edit, .delete, .respond {
    align-self: flex-end;
    font-weight: bold;
    font-family: cursive;
}

.date {
    font-family: cursive;
    align-self: flex-end;
    border: none;
}

.appeal-top {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.edit, .delete, .respond {
    background-color: rgb(187, 26, 26);
    padding: 0 5px;
    cursor: pointer;
    transition: .8 linear;
    color: black !important;
}

.edit{
    background-color: coral;
}

.respond {
    background-color: teal;
}

.edit:hover, .send-btn:hover, .delete:hover, .respond:hover {
    opacity: 75%;
}

.appeal-form {
    padding: 1px 0;
}

.appeal-top {
    display: flex;
    margin-bottom: 1px;
    margin-top: 10px;
}

.importance {
    border: black 2px solid;
    border-radius: 4px;
    background-color: transparent;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    width: 100%;
}

.text-field {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 0;
    border: black 2px solid;
    margin-bottom: 1px;
    font-size: 14px;
    padding: 5px 5px;
}

.send-btn, .edit-btn {
    border: none;
    color: white;
    font-weight: bold;
    background-color: grey;
    transition: .8 linear;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    align-self: flex-end;
    padding: 10px 10px;
}

.warning{
    color: red;
}

.admin-btn {
    display: block;
    margin-bottom: 10px;
}