.banned {
    margin-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

.banned h2 {
    color: red;
    padding-bottom: 25px;
}

table {
    margin-top: 10px;
}

td:nth-child(even) {
    padding-left: 15px;
}