* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #1a68a6 !important;
    text-decoration: none;
}

    a:hover {
        color: #023770 !important;
    }

@media (max-width: 650px) {
    a:hover {
        color: #1a68a6 !important;
    }

    a:active {
        color: #023770 !important;
    }
}

.delimiter {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 8px;
    background: linear-gradient(#d4d4d4, #ffffff);
}

.reversed {
    transform: rotate(180deg);
}

header {
    padding-top: 5px;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30%
}

.header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px
}

.name {
    font-size: 18pt;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    font-size: 18pt;
    font-weight: 500;
}

.logo {
    height: 90px;
}

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

main {
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
}

    main h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

footer {
    text-align: center;
    font-size: 12pt;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10px;
}

@media (max-width: 650px) {
    .header-nav {
        gap: 0;
        font-size: 16pt;
        justify-content: space-around;
    }

    .nav-item {
        margin-right: 30px;
    }
}

.warning {
    color: red;
}

.notification {
    color: green;
}