.faculty {
    border: 3px solid #1a68a6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
    cursor:pointer;
}

.faculty-left {
    text-align: left;
}

    .faculty-left > h3 {
        font-size: 20px;
        color: #1a68a6;
        text-align: left;
    }

.faculties {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}


.flow {
    border: 3px solid #1a68a6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
    width: 85%;
    margin-left: auto;
    cursor: pointer;
}

.flow-left {
    text-align: left;
}

    .flow-left > h3 {
        font-size: 20px;
        color: #1a68a6;
        text-align: left;
    }

.group {
    border: 3px solid #1a68a6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
    width: 75%;
    margin-left: auto;
    cursor: pointer;
}

.group-left {
    text-align: left;
}

    .group-left > h3 {
        font-size: 20px;
        color: #1a68a6;
        text-align: left;
    }

.user {
    border: 3px solid #1a68a6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 15px;
    gap: 10px;
    width: 75%;
    margin-left: auto;
    cursor: pointer;
}

    .user a {
        color: black;
        text-decoration: none;
    }

        .user a:hover {
            color: #023770;
        }

.user-left {
    text-align: left;
}

    .user-left > h3 {
        font-size: 20px;
        color: black;
        text-align: left;
    }

    .user-left > p {
        text-align: left;
    }

li {
    list-style-type: none;
    margin: 15px 15px;
}

#list {
}

    #list > li {
    }

        #list > li > ul {
            display: none;
        }

            #list > li > ul > li {
            }

                #list > li > ul > li > ul {
                    display: none;
                }

                    #list > li > ul > li > ul > li {
                    }

                        #list > li > ul > li > ul > li > ul {
                            display: none;
                        }

                            #list > li > ul > li > ul > li > ul > li {
                            }

                                #list > li > ul > li > ul > li > ul > li > ul {
                                    display: none;
                                }


.down {
    width: 20px;
    height: 20px;
    padding-right: 30px;
    padding-top: 10px;
}




.other-students {
    text-align: left;
}

    .other-students > h3 {
        font-size: 30px;
        color: #1a68a6;
        text-align: center;
    }



.block {
    background-color: #1a68a6;
    color: white !important;
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 0;
}

    .block:hover {
        color: white !important;
    }


.gray {
    background-color: gray;
}

    .gray:hover {
        background-color: black;
    }



.blocking {
    border-top: 3px solid #1a68a6;
    border-radius: 15px;
    padding: 15px 15px;
    padding-bottom: 0;
}

.block-user {
    margin-left: 50%;
    transform: translateX(-50%);
}

.orange {
    background-color: orange;
}

textarea {
    width: 100%;
    resize: none;
    min-height: 30vh;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: 500;
    color: #ffffff;
    background-color: #1a68a6;
    border-color: transparent;
    outline: none;
    cursor: pointer;
}

    button:hover {
        background-color: #023770;
    }

input {
    margin-left: 15px;
    margin-right: 5px;
}

a {
    color: #1a68a6 !important;
    text-decoration: none;
}

.create-item > a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    text-align: left;
}

.small-icon {
    width: 20px;
}