@model short

@{
    <option disabled selected value="default">Виберіть тему звернення</option>
    var importance = 1;
    foreach (var theme in PL.Data.AppealThemes.Themes)
    {
        if (importance == Model)
        {
            <option value="@importance" selected>@theme</option>
        }
        else
        {
            <option value="@importance">@theme</option>
        }
        importance++;
    }
}


